﻿/* www.58china.cn 主样式表, leo, last modify:08-02-17 */
 
/*头部*/
#top {overflow:hidden; margin:0 auto; padding:10px 0; width:950px; height:60px;}
 .top_left {float:left; margin-right:-210px; width:210px; text-align:left;}
 .top_center {width:auto; margin:0 260px 0 210px; padding-top:32px; padding-left:30px; text-align:left;}
 .top_right {float:right; margin-left:-260px; width:260px; padding-top:20px; text-align:left;} 

 .logo h1 {margin:0; width:210px; text-indent:-9999px;}
 .logo h1 A {display:block; background:url(../images/logo.gif) no-repeat; margin:0; height:60px; text-decoration: none;} 

#menu {margin:0 auto; margin-bottom:10px;background:url(../images/about/menubg.gif); height:42px;} 
 .menu {margin:0 auto; width:950px; height:30px} 
 .menu ul {margin:0; padding:0;} 
 .menu li {float:left; display:block; list-style-type:none; padding-top:5px; height:25px;} 
 .menu ul li.onleft {margin-left:4px; width:12px; background:url(../images/about/menuonleft.gif) no-repeat;} 
 .menu ul li.oncenter {width:auto; text-align:center; background:url(../images/about/menuoncenter.gif);} 
 .menu ul li.onright {width:12px; background:url(../images/about/menuonright.gif) no-repeat;}
 .menu ul li.left {margin-left:4px; width:12px; background:url(../images/about/menuleft.gif) no-repeat;} 
 .menu ul li.center {width:auto; text-align:center; background:url(../images/about/menucenter.gif);} 
 .menu ul li.right {width:12px; background:url(../images/about/menuright.gif) no-repeat;}
 
/*内容*/
#content {overflow:hidden; margin:0 auto;}
 .content_left {float:left; width:180px;}
 .content_right {float:left; width:740px; font-size:14px; color:#666666;}
 
 .bt {margin:10px auto; color:#ff5900;}

 .about {margin:0; padding:10px 0 0 50px; width:107px; height:30px; background:url(../images/about/aboutbtbg.gif) no-repeat; color:#fff;}
 
 .siderbar_over {margin:1px 0; background:url(../images/about/siderbaronbg.gif) no-repeat; padding:10px 0 0 50px; width:107px; height:30px; font-size:14px;}
 .siderbar_out {margin:1px 0; background:url(../images/about/siderbarbg.gif) no-repeat; padding:10px 0 0 50px; width:107px; height:30px; font-size:14px;}



/* footer */
#footer {margin:10px auto; padding:10px 0; width:950px; border-top:#cccccc 1px solid; text-align:center;}
