
/*普通样式*/
	body{margin:0;padding:0;border:0px none;background:#fff;color:#392e01;font-size:12px;font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif;text-align:center;line-height:180%;}
	p{margin:0;}
	select,input{font-size:12px;color:#000;}
	h1{margin:0;font-size:16px;}
	h2{margin:0;font-size:14px;}
	h3{margin:0;font-size:12px;}
	ul {margin:0; padding:0; list-style-type:none;}
	form {margin:0;}
	a {color:#392e01;text-decoration:none;}
	a:hover {color:#f50;text-decoration:underline;}
	img {border:none }
	.img{border:#89a2c8 1px solid;}
	.imgborder{border:#cccccc 1px solid;}
	.blue {color:#08529b;}
	.yellow {color:#7b2e00;}
	.gree {color:#009900;}
	.gray {color:#666666;}
	.red {color:#b03901;}
	.clear {overflow:hidden; height:10px }

	 a.link {color:#392e01; text-decoration: underline;}
	 a.link:hover {color:#f50; text-decoration: underline;}
	 
	 a.white {color:#ffffff; text-decoration: none;}
	 a.white:hover {color:#ffffff; text-decoration: none;}
/* html { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); }*/