﻿/* www.58china.cn 主样式表, leo, last modify:08-02-17 */
 
/*头部*/
#top {overflow:hidden; margin:0 auto; padding:10px 0; width:860px; height:60px;}
 .top_left {float:left; margin-right:-210px; width:210px; text-align:left;}
 .top_center {width:auto; margin:0 170px 0 210px; padding-top:3px;}
 .top_right {float:right; margin-left:-170px; width:160px; padding-top:5px; padding-left:10px; text-align:left;} 

 .logo h1 {margin:0; width:215px; text-indent:-9999px;}
 .logo h1 A {display:block; background:url(../images/logo.gif) no-repeat; margin:0; height:60px; text-decoration: none;} 
  
#search {margin:0 auto; width:932px;}
 .search_left {float:left; background:url(../images/searchleft.gif) no-repeat; margin-right:-12px; width:12px; height:92px;}
 .search_center {width:auto; background:url(../images/searchcenter.gif); margin:0 12px 0 12px; height:92px;}
 .search_right {float:right; background:url(../images/searchright.gif); margin-left:-12px; width:12px; height:92px;}

#menu {margin:0 auto; width:auto;} 
 .menu {margin:0; height:30px} 
 .menu ul {margin:0; padding:0;} 
 .menu li {float:left; display:block; list-style-type:none; padding-top:4px; height:26px;} 
 .menu ul li.onleft {margin-left:4px; width:12px; background:url(../images/menuonleft.gif) no-repeat;} 
 .menu ul li.oncenter {width:auto; text-align:center; background:url(../images/menuoncenter.gif);} 
 .menu ul li.oncenter a {color:#fff;}
 .menu ul li.onright {width:12px; background:url(../images/menuonright.gif) no-repeat;}
 .menu ul li.left {margin-left:4px; width:12px; background:url(../images/menuleft.gif) no-repeat;} 
 .menu ul li.center {width:auto; text-align:center; background:url(../images/menucenter.gif);} 
 .menu ul li.center a {color:#b03901;}
 .menu ul li.right {width:12px; background:url(../images/menuright.gif) no-repeat;}
 
 .input {margin:6px 0 0 20px; text-align:left;}
 .key {margin:5px 0 0 20px; text-align:left; color:#0b507a;}
 
    /*slide*/
    .adverslide {margin:0 auto; width:932px; position:relative }
    .adverslide a{color:#fff }
    .adverslideword {position:absolute; right:10px; top:5px }
 
/*内容*/
 .sector {overflow:hidden; height:100%; border:1px solid #c3ad7e;}
 .sectorbt {padding:3px 10px 0 10px; height:24px; background:url(../images/sectorbtbg.gif); text-align:left;}
 .sector h2 {font-size:14px; color:#9e4200;}
 .sectorcon {padding:5px 8px; text-align:left;}
 .sectorcon li {width:100%; list-style-type:none;}
 
 /*2010-05-11 by cjx*/
 .indexNewsLeft {float:left; width:50%;text-align:left;}
 
 .tittle {float:left;}
 .more {float:right;font-size:12px}
 
#sector1 {overflow:hidden; margin:0 auto; width:932px;}
 .sector1_left {float:left; width:auto; margin-right:10px;}
 .sector1_right {float:right; width:252px;}
 
 .sector1 {overflow:hidden; border:1px solid #c3ad7e; width:512px;}
 .sector1bt {padding:3px 10px 0 0; height:26px; background:url(../images/supplybg.gif); text-align:center;}
 
/* TAB 切换效果 */ 
.ctt{width:100%;}
.tb{padding-left:10px; text-align:center;} 
.tb ul{height:28px;} 
.tb li{float:left; height:27px; margin-top:2px; width:63px; cursor:pointer;} 
.normaltab   {color:#9e4200;} 
.hovertab    {background:url(../images/supply.gif) no-repeat; color:#9e4200; font-weight:bold } 
.dis{display:block;} 
.undis{display:none;}

 .supplybox {overflow:hidden;margin:0 auto;} 
 .supplybox li {float:left; display:block; width:50%; list-style-type:none; text-align:left;}
 
 .demand {margin:0 auto;width:95%;}
 .demand li{float:left; padding:3px 0; width:100%;}
 .demand li.hover{background:#fdf9ec;}
 
 .loginbtbg {border:1px solid #db8a14; margin-bottom:5px; height:161px; background:#fcfaf0 url(../images/loginbg.gif); text-align:left;}
 .loginbt {background:url(../images/sectorbtbg.gif); color:#b03901;}
 .loginbt h2 {padding:3px 10px 3px 22px; height:21px; background:url(../images/login.gif) no-repeat 6px 6px; text-align:left;}
 
 .login {margin:0 auto; margin-top:5px; width:190px;}
 .login li {float:left; width:100%; padding:2px 0;}
 
 .dr {margin:0 auto; padding-left:54px; width:136px;}
 .dr li {float:left; width:100%; margin-top:5px; list-style-type:none;}
 
 .login_welcome {margin:5px auto; width:90%; text-align:left;}
 .login_exit {margin:5px auto; width:90%; text-align:right;}
 
#sector2 {overflow:hidden; margin:0 auto; width:932px;}
 .sector2_left {float:left; width:252px; margin-right:10px;}
 .sector2_right {float:right; width:auto;}
 .sector2r {overflow:hidden; margin:0 auto; margin-bottom:10px; width:670px;}
 .sector2r_left {float:left; width:330px; }
 .sector2r_right {float:right; width:330px; }
#sector5 {overflow:hidden; margin:0 auto; margin-bottom:10px; width:930px; border:1px solid #c3ad7e}
 
 .category {float:left; width:80px; padding-top:3px; background:url(../images/category.gif) no-repeat; text-align:center;}
 .classific {margin-bottom:5px; padding:5px 8px; text-align:left;}
 .classific h2 {float:left;}
 .classific li {float:left; padding:2px 16px; width:45%; list-style-type:none; background:url(../images/allow.gif) no-repeat 6px 10px;}
 .classific li:hover{background:#f7f7f7 url(../images/allow.gif) no-repeat 6px 10px;}
 .classific p {clear:both }
 
 .classific2 {margin-bottom:5px; padding:5px 8px; text-align:left;}
 .classific2 h2 {float:left;}
 .classific2 li {float:left; padding:2px 16px; width:95%; list-style-type:none; background:url(../images/allow.gif) no-repeat 6px 10px;}
 .classific2 p {clear:both }

 .sector2 {margin-bottom:10px; border:1px solid #c3ad7e; width:668px;}
 .sector2bt {padding:3px 10px 0 10px; height:24px; background:url(../images/sectorbtbg.gif); text-align:left;}
 .sector2 h2 {font-size:14px; color:#9e4200;}
  
 .productsbox {overflow:hidden; margin:0 auto; margin-bottom:10px; padding:6px 0;}
 .productsbox li {float:left; display:block; list-style-type:none; margin-bottom:10px; width:16.6%; height:132px; text-align:center;}
 
 .pro {margin:2px auto;width:82%;}
 .pro li{float:left;padding:4px 5px 0 5px;width:97%; background:#f0f0f0;}
 .pro li img{border:1px solid #e4e4e2; background:#f0f0f0;}
 .pro li span{display:block;}
 .pro li.hover{background:#fff5d9;}
 
 #sector3 {margin:0 auto; width:932px;}
 .sector3_left {float:left; margin-right:-252px; width:252px;}
 .sector3_center {width:auto; margin:0 252px 0 252px; padding:0 10px;}
 .sector3_right {float:right; margin-left:-252px; width:252px;}  
 
#sector4 {overflow:hidden; margin:0 auto; width:932px;}
 .sector4_left {float:left; width:670px; margin-right:10px;}
 .sector4_right {float:right; width:252px;}
 
/* adver */
 .adver {margin:8px auto; width:932px; }
 .adver2 {margin:8px auto; width:932px; }
 .adver3 {margin:8px auto; margin-top:0; width:932px; }
 .adver4 {margin-bottom:6px; border:1px solid #f7f7f7; }
 .adver5 {border:1px solid #f7f7f7; }
 
 /* Renting */
 .renting {clear:both; margin:8px auto; width:932px; }
 
/*Link Effect*/
 .show13 {margin-right:5px;padding:0;float:left;}
 .show13 a {display:inline-block; height:15px; padding:3px 5px; border:1px solid #b8c4c8; background:#fcfdfe url(/images/button.gif); line-height:17px;overflow:hidden;}
 .show13 a:hover {border:1px solid #ea5e96; background:#fce8f0; color:#de1d6a; text-decoration:none;} 
 
/* link */
#link {margin:10px auto; margin-top:0; width:932px; text-align:left;}
#link img {margin:0 3px 5px 0;}
 .link {margin:0px auto; width:932px; text-align:left;}

/* footer */
#footer {margin:10px auto; padding:10px 0; width:932px; border-top:#cccccc 1px solid; text-align:center;}
