/* www.58china.cn 主样式表, leo, last modify:08-02-17 */
 
/*头部*/
#top {overflow:hidden; margin:0 auto; padding:10px 0; width:776px; height:60px;}
 .top_left {float:left; margin-right:-150px; width:150px; text-align:left;}
 .top_center {width:auto; margin:0 170px 0 150px; padding-top:10px; padding-left:70px;}
 .top_right {float:right; margin-left:-170px; width:160px; padding-top:5px; padding-left:10px; text-align:left;} 

 .logo h1 {margin:0; width:150px; text-indent:-9999px;}
 .logo h1 A {display:block; background:url(/images/logo.gif) no-repeat; margin:0; height:60px; text-decoration: none;} 
 
/*Link Effect*/
 .show12 {margin-right:5px;padding:0;float:left;font-weight:bold;}
 .show12 a {display:inline-block; height:15px; padding:3px 8px; border:1px solid #e9c94d; background:#ffffdd; line-height:17px;overflow:hidden;color:#cc0000;}
 .show12 a:hover {border:1px solid #ea5e96; background:#fce8f0; color:#de1d6a; text-decoration:none;}
 
 .show13 {margin-right:5px;padding:0;float:left;}
 .show13 a {display:inline-block; height:15px; padding:3px 5px; border:1px solid #b8c4c8; background:#fcfdfe url(/images/button.gif); line-height:17px;overflow:hidden;}
 .show13 a:hover {border:1px solid #ea5e96; background:#fce8f0; color:#de1d6a; text-decoration:none;}
#search {margin:0 auto; width:776px;}
 .search_left {float:left; background:url(/images/searchleft.gif) no-repeat; margin-right:-12px; width:12px; height:92px;}
 .search_center {width:auto; background:url(/images/searchcenter.gif); margin:0 12px 0 12px; height:92px;}
 .search_right {float:right; background:url(/images/searchright.gif); margin-left:-12px; width:12px; height:92px;}

#menu {margin:0 auto; width:auto;} 
 .menu {margin:0; height:30px} 
 .menu ul {margin:0; padding:0;} 
 .menu li {float:left; display:block; list-style-type:none; padding-top:4px; height:26px;} 
 .menu ul li.onleft {margin-left:4px; width:12px; background:url(/images/menuonleft.gif) no-repeat;} 
 .menu ul li.oncenter {width:auto; text-align:center; background:url(/images/menuoncenter.gif);} 
 .menu ul li.onright {width:12px; background:url(/images/menuonright.gif) no-repeat;}
 .menu ul li.left {margin-left:4px; width:12px; background:url(/images/menuleft.gif) no-repeat;} 
 .menu ul li.center {width:auto; text-align:center; background:url(/images/menucenter.gif);} 
 .menu ul li.right {width:12px; background:url(/images/menuright.gif) no-repeat;}
 
 .input {margin:10px 0 0 20px; text-align:left;}
 .key {margin:5px 0 0 20px; text-align:left; color:#0b507a;}
 
/*内容*/
 .sector {overflow:hidden; border:1px solid #c3ad7e;}
 .sectorbt {padding:3px 10px 0 10px; height:24px; background:url(/images/sectorbtbg.gif); text-align:left;}
 .sector h2 {font-size:14px; color:#9e4200;}
 .sectorcon {padding:5px 8px; text-align:left;}
 .sectorcon li {width:100%; list-style-type:none;}
 
 .tittle {float:left;}
 .more {float:right;font-size:12px}
 
#sector1 {overflow:hidden; margin:0 auto; width:776px;}
 .sector1_left {float:left; width:auto; margin-right:10px;}
 .sector1_right {float:right; width:252px;}
 
 .sector1 {overflow:hidden; border:1px solid #c3ad7e; width:512px;}
 .sector1bt {padding:3px 10px 0 0; height:26px; background:url(/images/supplybg.gif); text-align:center;}
 
/* TAB 切换效果 */ 
.ctt{width:100%;}
.tb{padding-left:10px; text-align:center;} 
.tb ul{height:28px;} 
.tb li{float:left; height:27px; margin-top:2px; width:63px; cursor:pointer;} 
.normaltab   {color:#9e4200;} 
.hovertab    {background:url(/images/supply.gif) no-repeat; color:#9e4200; font-weight:bold } 
.dis{display:block;} 
.undis{display:none;}

 .supplybox {overflow:hidden;margin:10px auto; width:95%;} 
 .supplybox li {float:left; display:block; width:50%; list-style-type:none; text-align:left;}
 
 .demand {margin:0 auto;width:100%;}
 .demand li{padding:3px; width:96%; background:#f7f7f7;}
 .demand li.hover{background:#fdf9ec;}
 
 .loginbtbg {border:1px solid #db8a14; margin-bottom:5px; height:161px; background:#fcfaf0 url(/images/loginbg.gif); text-align:left;}
 .loginbt {background:url(/images/sectorbtbg.gif); color:#b03901;}
 .loginbt h2 {padding:3px 10px 3px 22px; height:21px; background:url(/images/login.gif) no-repeat 6px 6px; text-align:left;}
 
 .login {margin:0 auto; margin-top:5px; width:190px;}
 .login li {float:left; width:100%; padding:2px 0;}
 
 .dr {margin:0 auto; padding-left:54px; width:136px;}
 .dr li {float:left; width:100%; margin-top:5px; list-style-type:none;}
 
#sector2 {overflow:hidden; margin:0 auto; width:776px;}
 .sector2_left {float:left; width:252px; margin-right:10px;}
 .sector2_right {float:right; width:auto;}
 
 .sector2r {overflow:hidden; margin:0 auto; margin-bottom:10px; width:514px;}
 .sector2r_left {float:left; width:252px; }
 .sector2r_right {float:right; width:252px; }
 
 .category {width:80px; padding-top:3px; background:url(/images/category.gif) no-repeat; text-align:center;}
 .classific {padding:5px 8px; text-align:left;}
 .classific h3 {float:left;}
 .classific li {padding:0 12px; list-style-type:none; background:url(/images/allow.gif) no-repeat 3px 8px;}

 .sector2 {margin-bottom:10px; border:1px solid #c3ad7e; width:512px;}
 .sector2bt {padding:3px 10px 0 10px; height:24px; background:url(/images/sectorbtbg.gif); text-align:left;}
 .sector2 h2 {font-size:14px; color:#9e4200;}
  /*首页图片滚动样式*/
 .productsbox1 {overflow:hidden; margin:0 auto; padding:5px 0; height:238px;}
 .productsbox1 li {float:left; display:block; list-style-type:none; width:25%; text-align:center;}
 .pro12 { float:left;margin:2px auto;width:90%; height:120px;}
 .pro12 li{float:left;padding:5px;width:95%; background:#f0f0f0;}
 .pro12 li img{border:1px solid #e4e4e2; background:#f0f0f0;}
 .pro12 li span{display:block;}
 .pro12 li.hover{background:#fff5d9;}
  /*end*/
 .productsbox {overflow:hidden; margin:0 auto; padding:5px 0;}
 .productsbox li {float:left; display:block; list-style-type:none; width:25%; text-align:center;}
 
 .pro { float:left;margin:2px auto;width:90%; height:115px;}
 .pro li{float:left;padding:5px;width:95%; background:#f0f0f0;}
 .pro li img{border:1px solid #e4e4e2; background:#f0f0f0;}
 .pro li span{display:block;}
 .pro li.hover{background:#fff5d9;}
 
 #sector3 {margin:0 auto; width:776px;}
 .sector3_left {float:left; margin-right:-252px; width:252px;}
 .sector3_center {width:auto; margin:0 252px 0 252px; padding:0 10px;}
 .sector3_right {float:right; margin-left:-252px; width:252px;}  
 
/* adver */
 .adver {margin:10px auto; width:776px; }
 .adver2 {margin:10px auto; margin-top:0; width:776px; }

/* link */
#link {margin:10px auto; width:776px; text-align:left;}
 .link {margin:0px auto; width:776px; text-align:left;}

/* footer */
#footer {margin:10px auto; padding:10px 0; width:776px; border-top:#cccccc 1px solid; text-align:center;}
