/* www.58china.cn 主样式表, leo, last modify:08-03-12 */
 

 
/*头部*/
#top {overflow:hidden; margin:0 auto; padding:10px 0; width:760px; height:60px;}
 .top_left {float:left; margin-right:-150px; width:150px; text-align:left;}
 .top_center {width:auto; margin:0 260px 0 150px; padding-top:32px; padding-left:30px; text-align:left;}
 .top_right {float:right; margin-left:-260px; width:260px; padding-top:20px; text-align:left;} 

 .logo h1 {margin:0; width:150px; text-indent:-9999px;}
 .logo h1 A {display:block; background:url(../images/logo.gif) no-repeat; margin:0; height:60px; text-decoration: none;} 

#menu {overflow:hidden; margin:0 auto; margin-bottom:10px;background:url(../images/about/menubg.gif); height:42px;} 
 .menu {margin:0 auto; width:760px; height:30px} 
 .menu ul {margin:0; padding:0;} 
 .menu li {float:left; display:block; list-style-type:none; padding-top:5px; height:25px;} 
 .menu ul li.onleft {margin-left:4px; width:12px; background:url(../images/about/menuonleft.gif) no-repeat;} 
 .menu ul li.oncenter {width:auto; text-align:center; background:url(../images/about/menuoncenter.gif);} 
 .menu ul li.onright {width:12px; background:url(../images/about/menuonright.gif) no-repeat;}
 .menu ul li.left {margin-left:4px; width:12px; background:url(../images/about/menuleft.gif) no-repeat;} 
 .menu ul li.center {width:auto; text-align:center; background:url(../images/about/menucenter.gif);} 
 .menu ul li.right {width:12px; background:url(../images/about/menuright.gif) no-repeat;}
 
/*内容*/
#content {overflow:hidden; margin:0 auto; width:760px; text-align:left;}
 .content_left {float:left; width:184px; padding:10px 15px; background:#f7f3f7;}
 .content_right {float:left; margin-left:15px; width:530px;}
 
 .leftmenubt {margin:0 auto; padding:3px 10px; background:#73757b; color:#fff;}
 .leftmenucon {margin:0 auto; background:#fff; text-align:left; list-style-type:none;}
 .leftmenucon li {padding:3px 10px; border-bottom:1px dashed #cccccc;}

 .sectorbt {margin-top:10px; padding:3px 10px; background:#fff3ce; color:#d41e1a;}
 .sectorcon {padding:3px; border:1px solid #fff3ce;}


/* footer */
#footer {clear:both; margin:10px auto; padding:10px 0; width:100%; border-top:#cccccc 1px solid; text-align:center;}
