/* www.58china.cn 主样式表, leo, last modify:08-02-28 */

/*普通样式*/
	body{margin:0;padding:0;border:0px none;background:#fff;color:#5a783b;font-size:12px;font-family:'宋体',arial,'Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif;text-align:center;line-height:180%;}
	p{margin:0;}
	select,input{font-size:12px;color:#000;}
	h1{margin:0;font-size:16px;}
	h2{margin:0;font-size:14px;color:#5a783b;}
	h3{margin:0;font-size:12px;}
	ul {margin:0; padding:0; list-style-type:none;}
	form {margin:0;}
	a {color:#5a783b;text-decoration:none;}
	a:hover {color:#f50;text-decoration:underline;}
	.img{border:#89a2c8 1px solid;}
	.blue {color:#001d4c;}
	.yellow {color:#ff6804;}
	.green {color:#5a783b;}
	.gray {color:#666666;}
	.red {color:#ff0000;}
	.black {color:#333;}
	 
	 a.white {color:#ffffff; text-decoration: none;}
	 a.white:hover {color:#ffffff; text-decoration: none;}
	 
	 a.whitelink {color:#ffffff; text-decoration: underline;}
	 a.whitelink:hover {color:#ffffff; text-decoration: underline;}
	 
	 a.blacklink {color:#333; text-decoration: none;}
	 a.blacklink:hover {color:#333; text-decoration: underline;}
 
/*头部*/
#toplink {margin:0 auto; width:1003px; height:24px; background:#8db53b; color:#fff;}
 .link_left {float:left; width:auto; padding-left:10px; text-align:left;}
 .link_right {float:right; width:80px;}
 
#company {margin:0 auto; padding-top:10px; width:1003px; height:80px; background:url(../images/moban_green/banner.gif) no-repeat; color:#5a783b;}
 .logo {float:left; padding-right:40px; width:140px; text-align:right;}
 .company {float:left; width:auto; text-align:left;}
 
 .chinese {padding-top:15px; height:26px; font-size:25px; font-family:黑体; text-align:left;}
 .english {padding-left:1px; font-size:13px; font-family:arial; text-align:left;}
 
#menu {margin:0 auto; padding-left:7px !important; padding-left:3px; width:996px !important; width:1000px; height:30px; background:url(../images/moban_green/menubg.gif); }
 .menu {overflow:hidden; margin:0; padding-top:3px; height:27px; font-size:14px;} 
 .menu ul {margin:0; padding:0;} 
 .menu li {float:left; display:block; list-style-type:none; padding-top:4px; height:26px;} 
 .menu ul li.onleft {margin-left:4px; width:12px; background:url(../images/moban_green/menuonleft.gif) no-repeat;} 
 .menu ul li.oncenter {width:auto; text-align:center; background:url(../images/moban_green/menuoncenter.gif);} 
 .menu ul li.onright {width:12px; background:url(../images/moban_green/menuonright.gif) no-repeat;}
 .menu ul li.left {margin-left:4px; width:12px;} 
 .menu ul li.center {width:auto; text-align:center;} 
 .menu ul li.right {width:12px;}
 
/*内容*/
#content {overflow:hidden; clear:both; margin:0 auto; padding:10px; width:983px; background:#ffffe1; color:#5a783b;}
 .content_left {float:left; width:328px;}
 .content_right {float:right; width:645px;}

 .sector {height:27px; text-align:left;}
 .sector_left {float:left; margin-right:-10px; width:10px; height:27px; background:url(../images/moban_green/sector_left.gif) no-repeat;}
 .sector_center {width:auto; margin:0 10px 0 10px; padding-top:4px; height:23px; background:url(../images/moban_green/sector_center.gif);}
 .sector_right {float:right; margin-left:-10px; width:10px; height:27px; background:url(../images/moban_green/sector_right.gif) no-repeat;} 
 
 .sectorcon {margin-bottom:10px; padding:10px 10px; border:1px solid #d1ec93; background:#ffffff; text-align:left;}
 
 .menulist {margin:0;}
 .menulist li {padding-left:15px; border-bottom:1px dashed #cccccc; background:url(../images/moban_green/allow.gif) no-repeat 5px 5px;}
 
 .prolist {margin:0 auto;}
 .prolist ul {clear:left; margin:0; padding:0; height:186px;} 
 .prolist li {float:left; display:block; list-style-type:none; padding:0 10px; width:30%; text-align:center;}
 
 .page {clear:both; padding-top:5px; border-top:1px solid #f0f0f0; text-align:right;}
#pagelist {margin:5px auto; padding:6px 0px; height:20px;}
#pagelist ul li { float:left; border:1px solid silver; line-height:20px; margin:0px 2px;}
#pagelist ul li a { display:block; padding:2px 8px 0 8px; background:white; text-decoration:none; color:gray;}
#pagelist ul li a:hover { background:#f93; color:white;}
 .current { background:#f93; display:block; padding:2px 8px 0 8px; font-weight:bold; color:#fff;}
 
 .offertittle {border-bottom:1px solid #f0f0f0;}
 .offerlist {overflow:hidden; margin:10px 0;}
 .offerlist li {float:left; display:block; list-style-type:none; width:25%; text-align:left; border-bottom:1px dashed #f0f0f0;}
 
 .clear {margin:0 auto; margin-top:10px; }
 
 .certifybt {margin:0 auto; height:30px;}
 .certifybt ul {clear:left; margin:0; padding:0;} 
 .certifybt li {float:left; display:block; list-style-type:none; text-align:center;} 
 .certifybt ul li.certifybt1 {margin:0; width:20%;} 
 .certifybt ul li.certifybt2 {margin:0; width:30%;}
 .certifybt ul li.certifybt3 {margin:0; width:20%;} 
 .certifybt ul li.certifybt4 {margin:0; width:15%;}
 .certifybt ul li.certifybt5 {margin:0; width:15%;} 
 
 .certify {margin:0 auto;}
 .certify ul {clear:left; margin:0; padding:0; height:100px;} 
 .certify li {float:left; display:block; list-style-type:none; text-align:center;} 
 .certify ul li.certify1 {margin:0; width:20%;} 
 .certify ul li.certify2 {margin:0; width:30%;}
 .certify ul li.certify3 {margin:0; width:20%;} 
 .certify ul li.certify4 {margin:0; width:15%;}
 .certify ul li.certify5 {margin:0; width:15%;} 
 
/* footer */
#copyright {margin:0 auto; padding:10px 0; width:1003px; background:url(../images/moban_green/bottombg.gif); text-align:center;}
