
/*产品大全*/ 
 .navigation {overflow:hidden; margin:5px auto; width:932px; text-align:left;}

#probox {overflow:hidden; margin:0 auto; width:932px;}
 .probox_left {float:left; width:670px; margin-right:10px;}
 .probox_right {float:right; width:252px;}
 
 .prosector {overflow:hidden; margin-bottom:10px; padding:2px; border:1px solid #c3ad7e;}
 .prosectorbt {padding:2px 10px 0 10px; height:24px; background:#fef8df; text-align:left;}
 .prosector h2 {font-size:14px; color:#9e4200;}
 
 .adsearch {padding:5px 8px; text-align:left;}
 .adsearch li {padding:2px 0; list-style-type:none;}
 
 .pro1 {overflow:hidden; margin:6px auto; width:132px;}
 .pro1 li{float:left; padding:5px; width:97%; text-align:left}
 .pro1 li img{border:1px solid #e4e4e2; background:#f0f0f0;}
 .pro1 li span{display:block; text-align:center}
 .pro1 li.hover{background:#fff5d9;}
 
 .prolistbt {overflow:hidden; margin:0 auto; width:100%; background:url(../images/sectorbtbg.gif);}
 .prolistbt ul {clear:left;} 
 .prolistbt li {float:left; display:block; list-style-type:none; padding-top:3px; height:24px;} 
 .prolistbt ul li.bt1 {margin:0; width:22%;} 
 .prolistbt ul li.bt2 {margin:0; width:63%;}
 .prolistbt ul li.bt3 {margin:0; width:15%;} 
 
 .clear {margin:0 auto; margin-top:10px; }
 
 .prolist {overflow:hidden; margin:0 auto; width:100%;}
 .prolist ul {clear:left;} 
 .prolist li {float:left; display:block; list-style-type:none; padding:10px 0; height:86px;} 
 .prolist ul li.list1 {margin:0; width:22%;} 
 .prolist ul li.list2 {margin:0; width:63%; text-align:left;}
 .prolist ul li.list3 {margin:0; width:15%;}
 .prolist ul li.list4 {margin:0; width:22%; background:#f0f0f0;} 
 .prolist ul li.list5 {margin:0; width:63%; background:#f0f0f0; text-align:left;}
 .prolist ul li.list6 {margin:0; width:15%; background:#f0f0f0;}
 
 .page {overflow:hidden; padding-top:5px; border-top:1px solid #f0f0f0; text-align:right;}
 .page2 {overflow:hidden; margin:0 auto; padding-top:5px; border-top:1px solid #f0f0f0; text-align:right; width:96%;}
#pagelist {margin:5px auto; padding:6px 0px; height:20px;}
#pagelist ul li { float:left; border:1px solid silver; line-height:20px; margin:0px 2px;}
#pagelist ul li a { display:block; padding:2px 8px 0 8px; background:white; text-decoration:none; color:gray;}
#pagelist ul li a:hover { background:#f93; color:white;}
 .current { background:#f93; display:block; padding:2px 8px 0 8px; font-weight:bold; color:#fff;}


/*五金资讯*/ 
 .sectornews {overflow:hidden; margin:0 auto; margin-top:10px; width:670px;}
 .sectornews_left {float:left; width:330px; }
 .sectornews_right {float:right; width:330px; }
 
 .hotnews {margin:10px auto; padding-bottom:10px; width:666px;}
 .hotnews_left {float:left; width:290px; }
 .hotnews_right {float:left; width:290px; }
 
 .hotnewscon {text-align:left;}
 .hotnewscon li {width:100%; list-style-type:none;}
 
 .morenews {margin:0 auto; border-top:1px dashed #cccccc; width:90%; text-align:right;}
 
 .newslist {overflow:hidden; margin:0 auto; margin-top:10px; width:622px;}
 .newslist ul {clear:left;} 
 .newslist li {float:left; display:block; list-style-type:none; padding:3px 5px;} 
 .newslist ul li.news1 {margin:0; width:74%; text-align:left;} 
 .newslist ul li.news2 {margin:0; width:22%;}
 .newslist ul li.news3 {margin:0; width:74%; background:#f0f0f0; text-align:left;} 
 .newslist ul li.news4 {margin:0; width:22%; background:#f0f0f0;}
 
 .newslist ul li.news5 {margin:0; width:56%; text-align:left;} 
 .newslist ul li.news6 {margin:0; width:16%;}
 .newslist ul li.news7 {margin:0; width:22%;}
 .newslist ul li.news8 {margin:0; width:56%; background:#f0f0f0; text-align:left;} 
 .newslist ul li.news9 {margin:0; width:16%; background:#f0f0f0;}
 .newslist ul li.news10 {margin:0; width:22%; background:#f0f0f0;}
 
/*企业名录*/ 
 .comsector {overflow:hidden; margin-bottom:10px; padding:2px; border:1px solid #eff0ea;}
 .comsectorbt {padding:2px 10px 0 10px; height:24px; background:#a9a9a9; text-align:left;}
 .comsectorcon {padding:5px 10px; background:#fcfcf2; text-align:center;}
 .comsector h2 {font-size:14px; color:#fff;}
 
/*供求详细*/ 
 #detail {overflow:hidden; margin:10px auto; width:932px; text-align:left;}
 .detail_left {float:left; margin-right:-210px; width:210px;}
 .detail_center {width:auto; margin:0 272px 0 210px; padding:0 10px;}
 .detail_right {float:right; margin-left:-272px; width:272px;}
 
 .company {padding:5px 10px;}
 
 .detail {margin:0 auto; width:932px; text-align:left;}
 
 .productsector {margin:0 auto; margin-bottom:10px; border:1px solid #c3ad7e; width:932px;}
 .productsectorbt {padding:3px 10px 0 10px; height:24px; background:url(../images/sectorbtbg.gif); text-align:left;}
 .productsector h2 {font-size:14px; color:#9e4200;}

/*展会信息*/ 
 .exhibitbt {margin:10px auto;padding-bottom:10px;width:95%;color:#000;border-bottom:1px dashed #cccccc;}
 .exhibitintro {margin:10px auto;width:95%;color:#000;}
 .exhibitintro li {padding:5px 0; list-style-type:none; width:100%; border-bottom:1px solid #cccccc; text-align:left;}
 
 .exhibit {margin:10px auto;width:95%;color:#000; text-align:left;}
 
/*注册信息*/ 
 .line {overflow:hidden; height:3px; margin:0 auto; width:776px; border-top:3px solid #ff7300; background:#fef8df;}
 .prompt {clear:both; margin:20px auto; padding-left:62px; width:715px; background:url(../images/prompt.gif) no-repeat 42px 1px; text-align:left; color:#333333; font-size:12px;}

	.step {overflow:hidden; margin:0 auto;padding:0;width:776px;height:30px;background:#f7f7f7;} 
	.step ul { margin: 0px; padding:0px;} 
	.step li { float: left; text-align:left;list-style-type:none;} 
	.step ul li.stepleft {width:25px;} 
	.step ul li.step1 {margin-top:6px;padding-left:36px;width:128px;height:24px;background:url(../images/step1.gif) no-repeat 16px 2px;color:#666666;font-size:14px;font-weight:bold;}  
	.step ul li.step2 {margin-top:6px;padding-left:36px;width:128px;height:24px;background:url(../images/step2.gif) no-repeat 16px 2px;color:#666666;font-size:14px;font-weight:bold;} 
	.step ul li.step3 {margin-top:6px;padding-left:36px;width:128px;height:24px;background:url(../images/step3.gif) no-repeat 16px 2px;color:#666666;font-size:14px;font-weight:bold;} 
	.step ul li.stepright {width:auto;} 
	.step ul li.stepon {width:144px;height:30px;}
	
	.stepon1 { margin:0;padding-left:36px;padding-top:6px;width:110px;height:24px;background:#fef8df url(../images/step1on.gif) no-repeat 16px 8px;color:#ff7300;font-size:14px;font-weight:bold;} 
	.stepon2 { margin:0;padding-left:36px;padding-top:6px;width:110px;height:24px;background:#fef8df url(../images/step2on.gif) no-repeat 16px 8px;color:#ff7300;font-size:14px;font-weight:bold;} 
	.stepon3 { margin:0;padding-left:36px;padding-top:6px;width:110px;height:24px;background:#fef8df url(../images/step3on.gif) no-repeat 16px 8px;color:#ff7300;font-size:14px;font-weight:bold;}
	
 .regbt {overflow:hidden; margin:0 auto; padding:5px 0 5px 30px; width:746px; border-bottom:1px solid #ff7300; background: url(../images/img.gif) no-repeat 5px 6px; text-align:left;}
 .regcontent {margin:0 auto; width:776px; text-align:left;}
 
 .dashed {padding:5px 5px;border-bottom:1px dashed #cccccc;}

/* 用户注册 */
 .zccg {overflow:hidden; margin:20px auto; width:777px; height:51px; background:url(../images/zccg.gif) no-repeat 40px;} 
 .zccg_content {overflow:hidden; margin:20px auto; width:777px; height:259px; background:url(../images/zccg_conbg.gif) no-repeat;}
 
 .reguser {margin:20px auto; width:720px; text-align:left;} 
 .reguser ul {margin:0px; padding:0px;} 
 .reguser li {float:left; display:block; list-style-type:none;} 
 .reguser ul li.reg1 {width:90px; height:78px; background:url(../images/smile.gif) no-repeat;} 
 .reguser ul li.reg2 {width:630px;}
 
 .usercon {overflow:hidden;margin:0 auto; width:100%;}
 .usercon ul {margin:0; padding:0;} 
 .usercon li {float:left; display:block; list-style-type:none; padding-left:20px; width:600px; text-align:left; background:url(../images/circle.gif) no-repeat 6px 5px;}
 
/* adver */
 .advernews {overflow:hidden; margin:10px auto; width:668px; border:1px solid #cccccc;}
