$head$
<!-- 头部结束 -->

<!-- 内容开始 -->
<div id="content">
$left$
<div class="content_right">
<!--公司介绍-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center"><h2>公司介绍</h2></div>
</div>
<div class="sectorcon">
<div style="height:180px">
  <table cellspacing="5" cellpadding="0" align="left" border="0">
    <tbody>
      <tr>
        <td><a href="$usrlgo$"><img src="$usrlgo$" alt="公司图片" border="0" width="300" height="156" /></a></td>
      </tr>
      <tr>
        <td align="center" class="blue">【<a href="$usrlgo$" class="blue">查看大图</a>】</td>
      </tr>
    </tbody>
  </table>
    <span class="black">$usrcmt$</span></div></div>
<!--详细信息-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center">
<h2>详细信息</h2>
</div>
</div>
<div class="sectorcon">
  <table width="100%" border="0" cellspacing="1" cellpadding="1">
    <tr>
      <td width="23%" align="left" bgcolor="#f7f7f7" class="yellow"><strong>&nbsp;主营产品或服务：</strong></td>
      <td width="35%" align="left">$usrsel$</td>
      <td width="20%" align="left" bgcolor="#f7f7f7" class="yellow"><strong>&nbsp;<strong>经营模式</strong>： </strong></td>
      <td width="22%" align="left">$typeStr$</td>
    </tr>
    <tr>
      <td align="left" bgcolor="#f7f7f7" class="yellow"><strong>&nbsp;<strong><strong>公司注册地</strong>：</strong></strong></td>
      <td colspan="3" align="left">$province$->$city$<strong>&nbsp;<strong>&nbsp;</strong></strong></td>
      </tr>
    <tr>
      <td align="left" bgcolor="#f7f7f7" class="yellow"><strong>&nbsp;公司主页：</strong></td>
      <td colspan="3" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="3%"><img src="$skinpath$images/webhome_F.gif" width="13" height="14" /></td>
          <td width="97%"><a href="$usrhtp$" target="_blank">$usrhtp$</a></td>
        </tr>
        <tr>
          <td><img src="$skinpath$images/webhome_D.gif" width="13" height="14" /></td>
          <td><a href="index.asp?id=$id$" target="_blank">http://$id$.88xsp.com</a></td>
        </tr>
      </table></td>
      </tr>
  </table>
</div>
</div>
</div>
<!-- 内容结束 -->

<!-- 尾部开始 -->
$foot$
<!-- 尾部结束 -->
</body>
</html>