$head$
<!-- 头部结束 -->

<!-- 内容开始 -->
<div id="content">
$left$
<div class="content_right">
<!--求购产品-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center">
<h2>求购产品</h2>
</div>
</div>
<div class="sectorcon">
<div class="prolist">
<ul>
$list$
</ul>
</div>
<!--分页-->
<div class="page">
	记录总数：<strong class="red">$recordcount$</strong>  总页数：<strong class="red">$pagecount$</strong>
	<div id="pagelist">
	  <ul>
      $pagelist$		
	  </ul>
	</div>
</div>

</div>
</div>
</div>
<!-- 内容结束 -->

<!-- 尾部开始 -->
$foot$
<!-- 尾部结束 -->
</body>
</html>