$head$
<!-- 头部结束 -->

<!-- 内容开始 -->
<div id="content">
$left$
<div class="content_right">
<!--公司介绍-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center"><h2>公司介绍</h2></div>
</div>
<div class="sectorcon1">
<div style="height:180px">
  <table cellspacing="5" cellpadding="0" align="left" border="0">
    <tbody>
      <tr>
        <td><a href="$usrlgo$"><img src="$usrlgo$" alt="公司图片" border="0" width="300" height="156"/></a></td>
      </tr>
      <tr>
        <td align="center" class="blue">【<a href="about.asp?id=$id$" class="blue">查看详细</a>】</td>
      </tr>
    </tbody>
  </table>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact.asp?id=$id$" class="blacklink">$usrcmt$</a></div></div>
<!--最新产品-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center">
<span style="float:left;"><h2>最新产品</h2></span><span style="float:right;"><a href="products.asp?id=$id$">更多>></a></span>
</div>
</div>
<div class="sectorcon">

<div class="prolist">
<ul>
$产品列表0$
</ul>
</div>


</div>
</div>
</div>
<!-- 内容结束 -->

<!-- 尾部开始 -->
$foot$
<!-- 尾部结束 -->
</body>
</html>