<div class="content_left">
<!--供应产品分类-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center"><h2>最新供应产品</h2></div>
</div>
<div class="sectorcon">
<ul class="menulist">
$供应产品
</ul>
</div>
<!--产品搜索-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center"><h2>产品搜索</h2></div>
</div>
<div class="sectorcon">
  <form  name="form3" method="get" action="products.asp">
  <input type="hidden" id="id" value="$id$" name="id" />
    <input name="keyword" type="text" value="请输入产品关键字！" onfocus="document.form3.keyword.value=''";/>		
    <input type="submit" name="Submit" value=" 搜 索 " />
  </form>
</div>
<!--友情链接-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center"><h2>联系方式</h2></div>
</div>
<div class="sectorcon">
<ul class="menulist">
$联系方式
</ul>
</div>

</div>