$head$
<!-- 头部结束 -->

<!-- 内容开始 -->
<div id="content">
$left$
<div class="content_right">
<!--公司动态-->
<div class="sector">
<div class="sector_left"></div>
<div class="sector_right"></div>
<div class="sector_center">
<h2>公司动态</h2>
</div>
</div>
<div class="sectorcon">
<ul class="menulist">
$list$
</ul>
<!--分页-->
<div class="page">
	记录总数：<strong class="red">$recordcount$</strong>  总页数：<strong class="red">$pagecount$</strong>
	<div id="pagelist">
	  <ul>
		$pagelist$
	  </ul>
	</div>
</div>

</div>
</div>
</div>
<!-- 内容结束 -->

<!-- 尾部开始 -->
$foot$
<!-- 尾部结束 -->
</body>
</html>