/* www.58china.cn 主样式表, leo, last modify:08-02-26 */
 
/*普通样式*/
	body{margin:0;padding:0;border:0px none;background:#fff;color:#000000;font-size:12px;font-family:arial,'宋体','Lucida Grande','Lucida Sans Unicode','新宋体',verdana,sans-serif;text-align: center;line-height:180%;}
	p{margin:0;}
	select,input{font-size:12px;color:#000;}
	h1{margin:0;font-size:16px;color:#1b49ac;}
	h2{margin:0;font-size:14px;color:#333333;}
	h3{margin:0;font-size:12px;color:#377915;}
	ul{margin:0;padding-left:20px;text-align:left;font-size:12px;list-style-type: disc;}
	a {color:#333333;text-decoration:none;}
	a:hover {color:#f50;text-decoration:none;}
	
 .red {color:#ff3300;}
 .yellow {color:#ff6804;}
 .gray {color:#666666;}
 .text {padding-left:5px;}
 .blue {color:#3277a1;}
 .wihtelink {color:#fff;}
 
 a.greenlink {color:#297301; text-decoration: none;}
 a.greenlink:hover {color:#f50; text-decoration: underline;}
 
 a.wihtelink {color:#fff; text-decoration: underline;}
 a.wihtelink:hover {color:#fff; text-decoration: none;}
 
/*头部*/
#header{margin:0 auto; text-align:left; height:115px;}
 .header_l{float:left; background:url(../images/logo.gif) no-repeat; margin-right:-298px; width:298px; height:115px;}
 .header_r{width:auto; background:#9dd957 url(../images/name.gif) no-repeat; margin:0 0 0 298px; height:115px;}

 .name {padding-right:10px; padding-top:10px; width:auto; height:105px; text-align:right;}

/*内容*/
.green_line {margin:0 auto; padding-top:4px; width:100%; height:27px; background:url(../images/green_line.gif); text-align:left; color:#ffffff;}

 .logo h1 {border:0; margin:0; text-indent:-9999px;}
 .logo h1 A {border:0; display:block; background:url(../images/logo.gif) no-repeat; margin:0; height:115px; 
 text-decoration: none;}

 .home h1 {border:0; margin:0; text-indent:-9999px;}
 .home h1 A {border:0; display:block; background:url(../images/manage.gif) no-repeat; margin:0; height:37px; 
 text-decoration: none;}

#content {overflow:hidden; margin:0 auto; margin-bottom:10px; text-align:left;}
 .left {float:left; width:171px;}
 .right {width:auto; margin:0 0 0 171px; padding:10px 10px;}

 .promot {margin:0 auto; padding:0 0 0 76px; background:url(../images/promot.gif) no-repeat 2px 2px; border:1px solid #009900;}
 .promot h3 {padding-top:25px; height:49px; background:url(../images/promotbg.gif); font-size:14px; text-align:left;}

 .nav {margin:10px auto; text-align:left;}
 
 .sector {margin:10px auto; text-align:left;}
 .sector_left {float:left; width:44%;}
 .sector_right {width:auto; margin:0 0 0 44%; padding-left:10px;}
 
 .login {overflow:hidden; margin:0 auto; margin-top:10px;}
 .login ul {clear:left; margin:0; padding:0; width:100%; height:32px;} 
 .login li {float:left; display:block; list-style-type:none;} 
 .login ul li.member {width:60px;} 
 .login ul li.input {width:auto;}

 .columnbt {margin:0 auto; border:1px solid #c8d6a6; background:#f9f9f9 url(../images/columnbtbg.gif); text-align:left;}
 .columnbt h2 {padding:0 0 0 26px; height:22px; background:url(../images/allow.gif) no-repeat;}
 .columncontent {overflow:hidden; margin:0 auto; padding:10px; text-align:left; border:1px solid #c8d6a6; border-top:none; }

 .bt {padding:3px 0 0 26px; width:auto; background:url(../images/btleft.gif) no-repeat;}
 .bt2 {padding:3px 0 0 26px; width:auto; background:url(../images/btleft2.gif) no-repeat;}
 
 .adver {clear:both; margin:10px auto; text-align:left;}
 
 .clear {margin-top:10px;}

/* 左边菜单 */
 .menuicon {margin:0 auto; padding:3px 0 0 25px; width:144px; height:25px; background:url(../images/green_nav_bg.gif) no-repeat;  border:1px solid #c6d4a4; border-top:none; text-align:left;}
 .menucon {overflow:hidden; margin:0 auto; padding:5px 0px 0px 5px; width:164px; border:1px solid #c6d4a4; border-top:none; text-align:left;}

 .menu_title {width:142px;}
 .hd {float:left;}
 .hd a {clear:both;padding:0 6px;width:148px;display:block;}
 .hd a:hover {background:#ffffff url(../images/menubg.gif) no-repeat;}
 /* 左边菜单 */
.page2 {overflow:hidden; margin:0 auto; padding-top:5px; border-top:1px solid #f0f0f0; text-align:right; width:96%;}
#pagelist {margin:5px auto; padding:6px 0px; height:20px;}
#pagelist ul li { float:left; border:1px solid silver; line-height:20px; margin:0px 2px;}
#pagelist ul li a { display:block; padding:2px 8px 0 8px; background:white; text-decoration:none; color:gray;}
#pagelist ul li a:hover { background:#f93; color:white;}
 .current { background:#f93; display:block; padding:2px 8px 0 8px; font-weight:bold; color:#fff;}
/* 右边 */
.msgtbl{ border:0px; line-height:30px;}
.msgtbl td{ padding-left:5px;}
/* footer */
#footer {clear:both; margin:10px auto; padding:10px 0; width:100%; text-align:center; border-top:1px solid #c1cfa4;}
