$head$
<!-- head end -->

<!-- content begin -->
<div id="content">
<!--contentLeft-->
$left$
<!--contentRight-->
<div class="contentRight">
<div class="rightColumn">
<div class="columnTitle2"><h2>企业介绍</h2></div>
</div>
<div class="intro">
<div class="flesh">
<div class="comlogo"><img src="$usrlgo$" width="300" height="300" /></div>
&nbsp;&nbsp;&nbsp;$usrcmt$</div>
</div>

<div class="rightColumn">
<div class="columnTitle2"><h2>详细信息</h2></div>
</div>
<div class="intro">
  <table width="100%" border="0" cellspacing="1" cellpadding="1">
    <tr>
      <td width="19%" align="left" class="gray"><strong>&nbsp;主营产品或服务：</strong></td>
      <td width="40%" align="left">$usrsel$</td>
      <td width="20%" align="left" class="gray"><strong>&nbsp;经营模式： </strong></td>
      <td width="21%" align="left">$typeStr$</td>
    </tr>
    <tr>
      <td align="left" class="gray"><strong>&nbsp;公司注册地</strong>：</td>
      <td align="left">$province$->$city$</td>
      <td align="left"><strong>&nbsp;</strong></td>
      <td align="left"></td>
    </tr>    
    <tr>
      <td align="left" class="gray"><strong>&nbsp;公司主页：</strong></td>
      <td colspan="3" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="3%"><img src="$skinpath$images/webhome_F.gif" width="13" height="14" /></td>
          <td width="97%"><a href="$usrhtp$" target="_blank">$usrhtp$</a></td>
        </tr>
        <tr>
          <td><img src="$skinpath$images/webhome_D.gif" width="13" height="14" /></td>
          <td><a href="http://$id$.58china.cn" target="_blank">http://$id$.58china.cn</a></td>
        </tr>
      </table></td>
      </tr>
  </table>
</div>
</div>
</div>
<!-- content end -->

<!-- footer begin -->
<div id="footer">
$foot$
</div>
<!-- footer end -->
</div>

</body>
</html>