$head$
<!-- head end -->

<!-- content begin -->
<div id="content">
<!--contentLeft-->
$left$
<!--contentRight-->
<div class="contentRight">

<div class="rightColumn">
<div class="columnTitle2"><h2>求购信息</h2></div>
</div>
<div class="intro">
<div class="clear"></div>
<table width="100%" border="0" cellspacing="1" cellpadding="1">
  <tr>
    <th width="19%" height="26" align="center" class="tablecon2"><strong>产品图片</strong></th>
    <th width="*%" align="center" class="tablecon2"><strong>求购信息</strong></th>
    <th width="30%" align="center" class="tablecon2"><strong>发布时间</strong></th> 
  </tr>
 $list$
</table>
<div id="pagelist">
<ul>
$pagelist$
</ul>
</div>
</div>
</div>
</div>
<!-- content end -->

<!-- footer begin -->
<div id="footer">
$foot$
</div>
<!-- footer end -->
</div>

</body>
</html>