﻿$head$
<!-- head end -->

<!-- content begin -->
<div id="content">
<!--contentLeft-->
$left$
<!--contentRight-->
<div class="contentRight">
<div class="rightColumn">
<div class="columnTitle2"><h2>关于我们</h2></div>
<div class="more"><a href="contact.asp?id=$id$">更多>></a></div>
</div>
<div class="intro">
<div class="flesh">
<div class="comlogo"><img src="$usrlgo$" /></div>
   &nbsp;&nbsp;&nbsp;$usrcmt$（未完，全文请 <a href="contact.asp?id=$id$">查看更多</a>）
</div>
</div>

<div class="rightColumn">
<div class="columnTitle2"><h2>最新产品</h2></div>
<div class="more"><a href="products.asp?id=$id$">更多>></a></div>
</div>
<div class="intro">
<div class="productList">
<ul>
$产品列表0$
<!--<li><a href="detail.html" target="_blank"><img src="images/pro1.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">韩版淑女装买一送一满40包邮</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro2.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">La miu强力聚拢文胸</a></span> <span class="flesh">￥55.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro3.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">买新款5折秋装就送时尚T恤</a></span> <span class="flesh">￥65.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro4.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">4折起爱家休闲孕妇防辐射服</a></span> <span class="flesh">￥35.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro5.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">季末清仓美亿佳九格书架花架储物架</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro6.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">2件更便宜浪漫满屋情侣爱心收纳枕</a></span> <span class="flesh">￥65.00</span> </li>

<li><a href="javascript:;"><img src="images/pro8.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">韩版淑女装买一送一满40包邮</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="javascript:;"><img src="images/pro9.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">La miu强力聚拢文胸</a></span> <span class="flesh">￥55.00</span> </li>
<li><a href="javascript:;"><img src="images/pro10.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">买新款5折秋装就送时尚T恤</a></span> <span class="flesh">￥65.00</span> </li>
<li><a href="javascript:;"><img src="images/pro11.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">4折起爱家休闲孕妇防辐射服</a></span> <span class="flesh">￥35.00</span> </li>
<li><a href="javascript:;"><img src="images/pro12.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">季末清仓美亿佳九格书架花架储物架</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="javascript:;"><img src="images/pro13.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">2件更便宜浪漫满屋情侣爱心收纳枕</a></span> <span class="flesh">￥65.00</span> </li>

<li><a href="javascript:;"><img src="images/pro1.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">韩版淑女装买一送一满40包邮</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="javascript:;"><img src="images/pro2.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">La miu强力聚拢文胸</a></span> <span class="flesh">￥55.00</span> </li>
<li><a href="javascript:;"><img src="images/pro3.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">买新款5折秋装就送时尚T恤</a></span> <span class="flesh">￥65.00</span> </li>
<li><a href="javascript:;"><img src="images/pro4.gif" border="0" align="absmiddle" /></a> <span><a href="javascript:;">4折起爱家休闲孕妇防辐射服</a></span> <span class="flesh">￥35.00</span> </li>
-->
</ul>
</div>
</div>

<!--<div class="rightColumn">
<div class="columnTitle2"><h2>精品推荐</h2></div>
<div class="more"><a href="products.html">更多>></a></div>
</div>
<div class="intro">

<div class="productList">
<ul>
<li><a href="detail.html" target="_blank"><img src="images/pro1.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">韩版淑女装买一送一满40包邮</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro2.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">La miu强力聚拢文胸</a></span> <span class="flesh">￥55.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro3.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">买新款5折秋装就送时尚T恤</a></span> <span class="flesh">￥65.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro4.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">4折起爱家休闲孕妇防辐射服</a></span> <span class="flesh">￥35.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro5.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">季末清仓美亿佳九格书架花架储物架</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro6.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">2件更便宜浪漫满屋情侣爱心收纳枕</a></span> <span class="flesh">￥65.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro7.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">季末清仓美亿佳九格书架花架储物架</a></span> <span class="flesh">￥45.00</span> </li>
<li><a href="detail.html" target="_blank"><img src="images/pro8.gif" border="0" align="absmiddle" /></a> <span><a href="detail.html" target="_blank">2件更便宜浪漫满屋情侣爱心收纳枕</a></span> <span class="flesh">￥65.00</span> </li>
</ul>
</div>

</div>-->

</div>
</div>
<!-- content end -->

<!-- footer begin -->
<div id="footer">
  $foot$
</div>
<!-- footer end -->
</div>

</body>
</html>