<div class="contentLeft">
<!--<div class="coloumnTitle"><h2>产品类别</h2></div>
<div class="leftColumn">
<ul class="columnList">
<li><a href="javascript:;">婴儿玩具</a></li>
<li><a href="javascript:;">拼图拼板</a></li>
<li><a href="javascript:;">玩具乐器</a></li>
<li><a href="javascript:;">玩具汽车</a></li>
<li><a href="javascript:;">积木</a></li>
<li><a href="javascript:;">玩具飞机</a></li>
</ul>
</div>-->

<div class="coloumnTitle"><h2>供应信息</h2></div>
<div class="leftColumn">
<ul class="columnList">
$供应产品
<!--<li><a href="javascript:;">玩具乐器“贝乐康”家园琴</a></li>
<li><a href="javascript:;">玩具“贝乐康”8808R电子鼓</a></li>
<li><a href="javascript:;">益智玩具“贝乐康”智力拼板</a></li>
<li><a href="javascript:;">“贝乐康”1177概念车玩具</a></li>
<li><a href="javascript:;">“贝乐康”2268R概念车</a></li>
<li><a href="javascript:;">益智玩具“贝乐康”水管积木</a></li>
<li><a href="javascript:;">卡通玩具8501水管积木</a></li>
<li><a href="javascript:;">益智玩具609智力拼板</a></li>-->
</ul>
</div>

<div class="coloumnTitle"><h2>站内搜索</h2></div>
<div class="leftColumn">
<form  name="form3" method="get" action="products.asp?id=$id$">
	<input type="hidden" id="id" value="$id$" name="id" />
    <input name="keyword" type="text" value="请输入产品关键字！" tyle="width:100px" onfocus="document.form3.keyword.value=''";/>		
    <input type="submit" name="Submit" value=" 搜 索 " />
  </form> 
</div>

<div class="coloumnTitle"><h2>联系方式</h2></div>
<div class="leftColumn">
<ul class="statistics">
$联系方式
<!--<li><a href="javascript:;" class="flesh"><strong>文潇淳</strong></a> 先生 （开发 经理）</li>
<li>电话：0579-85365602</li>
<li>移动电话：13066813515</li>
<li>地址：中国 广东 深圳市深南中路南光捷佳大厦705-706室</li>
<li>邮编：322000</li>
<li>E-mail：root@xsp2.com</li>
<li>公司主页：<a href="http://sun3wen3.cn.alibaba.com" target="_blank" class="flesh">http://sun3wen3.alibaba.com</a></li>-->
</ul>
</div>

</div>