$head$
<!-- head end -->

<!-- content begin -->
<div id="content">
<!--contentLeft-->
$left$
<!--contentRight-->
<div class="contentRight">
<div class="rightColumn">
<div class="columnTitle2"><h2>企业新闻</h2></div>
</div>
<div class="intro">
<div class="messageList">
  <ul>
  $list$    
    </ul>
</div>
	<div id="pagelist">
	  <ul>
		$pagelist$
	  </ul>
	</div>
</div>    
</div>
</div>
<!-- content end -->

<!-- footer begin -->
<div id="footer">
$foot$
</div>
<!-- footer end -->
</div>

</body>
</html>