﻿<li>
<h3><a href="/products/category.asp?bid=2" class="link">工具五金</a></h3><p>
<a href="/products/products.asp?id=9&bid=2" class="link">量具量仪</a>
 | <a href="/products/products.asp?id=3&bid=2" class="link">气动工具</a>
 | <a href="/products/products.asp?id=2&bid=2" class="link">手动工具</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=1" class="link">厨卫五金</a></h3><p>
<a href="/products/products.asp?id=7&bid=1" class="link">不锈钢餐具</a>
 | <a href="/products/products.asp?id=6&bid=1" class="link">水暖用品</a>
 | <a href="/products/products.asp?id=5&bid=1" class="link">厨房用品</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=3" class="link">义乌五金</a></h3><p>
<a href="/products/products.asp?id=15&bid=3" class="link">日用五金类</a>
 | <a href="/products/products.asp?id=13&bid=3" class="link">匙扣拉链</a>
 | <a href="/products/products.asp?id=12&bid=3" class="link">礼品五金</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=6" class="link">玻璃橡胶</a></h3><p>
<a href="/products/products.asp?id=184&bid=6" class="link">合成制品</a>
 | <a href="/products/products.asp?id=93&bid=6" class="link">橡胶制品</a>
 | <a href="/products/products.asp?id=92&bid=6" class="link">玻璃制品</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=7" class="link">电子电器</a></h3><p>
<a href="/products/products.asp?id=77&bid=7" class="link">半导体材料</a>
 | <a href="/products/products.asp?id=76&bid=7" class="link">磁性材料</a>
 | <a href="/products/products.asp?id=75&bid=7" class="link">照明灯具</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=8" class="link">日用五金</a></h3><p>
<a href="/products/products.asp?id=67&bid=8" class="link">钟表 </a>
 | <a href="/products/products.asp?id=66&bid=8" class="link">保温容器</a>
 | <a href="/products/products.asp?id=65&bid=8" class="link">工艺制品</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=9" class="link">陶瓷五金</a></h3><p>
<a href="/products/products.asp?id=185&bid=9" class="link">陶瓷工艺</a>
 | <a href="/products/products.asp?id=95&bid=9" class="link">陶瓷绝缘</a>
 | <a href="/products/products.asp?id=94&bid=9" class="link">陶瓷器皿</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=10" class="link">不锈钢类</a></h3><p>
<a href="/products/products.asp?id=183&bid=10" class="link">保温容器</a>
 | <a href="/products/products.asp?id=98&bid=10" class="link">锅铲调羹</a>
 | <a href="/products/products.asp?id=97&bid=10" class="link">蒸锅汤锅</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=11" class="link">体育用品</a></h3><p>
<a href="/products/products.asp?id=103&bid=11" class="link">童车配件 </a>
 | <a href="/products/products.asp?id=102&bid=11" class="link">溜冰鞋类</a>
 | <a href="/products/products.asp?id=101&bid=11" class="link">滑板车类</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=12" class="link">钥匙拉链</a></h3><p>
<a href="/products/products.asp?id=173&bid=12" class="link">纽扣系列</a>
 | <a href="/products/products.asp?id=118&bid=12" class="link">拉链配件</a>
 | <a href="/products/products.asp?id=117&bid=12" class="link">锁扣饰品</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=13" class="link">机械机床</a></h3><p>
<a href="/products/products.asp?id=123&bid=13" class="link">液压机械及部件 </a>
 | <a href="/products/products.asp?id=122&bid=13" class="link">空压机类</a>
 | <a href="/products/products.asp?id=121&bid=13" class="link">空气水泵</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=14" class="link">模具磨料</a></h3><p>
<a href="/products/products.asp?id=186&bid=14" class="link">技术加工</a>
 | <a href="/products/products.asp?id=149&bid=14" class="link">模具系列</a>
 | <a href="/products/products.asp?id=148&bid=14" class="link">钢板模料</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=15" class="link">材料配件</a></h3><p>
<a href="/products/products.asp?id=153&bid=15" class="link">黑色金属</a>
 | <a href="/products/products.asp?id=152&bid=15" class="link">稀土制品</a>
 | <a href="/products/products.asp?id=151&bid=15" class="link">钢铁铝材</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=17" class="link">有色金属</a></h3><p>
<a href="/products/products.asp?id=187&bid=17" class="link">金属制品</a>
 | <a href="/products/products.asp?id=182&bid=17" class="link">锌铝合金</a>
 | <a href="/products/products.asp?id=181&bid=17" class="link">金银铜铁</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=18" class="link">建材装璜</a></h3><p>
<a href="/products/products.asp?id=38&bid=18" class="link">金属建材</a>
 | <a href="/products/products.asp?id=37&bid=18" class="link">厨房设备</a>
 | <a href="/products/products.asp?id=36&bid=18" class="link">卫浴设施</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=19" class="link">农艺五金</a></h3><p>
<a href="/products/products.asp?id=32&bid=19" class="link">渔业机械 </a>
 | <a href="/products/products.asp?id=20&bid=19" class="link">林业机械</a>
 | <a href="/products/products.asp?id=19&bid=19" class="link">农用机械</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=20" class="link">汽摩用品</a></h3><p>
<a href="/products/products.asp?id=52&bid=20" class="link">轮胎</a>
 | <a href="/products/products.asp?id=51&bid=20" class="link">交通工具</a>
 | <a href="/products/products.asp?id=50&bid=20" class="link">修理设备</a>
</p></li>
<li>
<h3><a href="/products/category.asp?bid=16" class="link">其它</a></h3><p>
<a href="/products/products.asp?id=177&bid=16" class="link">生日礼品</a>
 | <a href="/products/products.asp?id=176&bid=16" class="link">节日礼品</a>
 | <a href="/products/products.asp?id=175&bid=16" class="link">广告礼品</a>
</p></li>
