﻿<li>
<h3><a href="category.asp?bid=2" class="link">工具五金</a></h3><p>
<a href="products.asp?id=1&bid=2" class="link">电动工具</a>
 | <a href="products.asp?id=2&bid=2" class="link">手动工具</a>
 | <a href="products.asp?id=3&bid=2" class="link">气动工具</a>
 | <a href="products.asp?id=9&bid=2" class="link">量具量仪</a>
 | <a href="products.asp?id=29&bid=2" class="link">起重工具</a>
 | <a href="products.asp?id=30&bid=2" class="link">液压工具</a>
 | <a href="products.asp?id=31&bid=2" class="link">其他专用工具</a>
</p></li>
<li>
<h3><a href="category.asp?bid=1" class="link">厨卫五金</a></h3><p>
<a href="products.asp?id=4&bid=1" class="link">卫生洁具</a>
 | <a href="products.asp?id=5&bid=1" class="link">厨房用品</a>
 | <a href="products.asp?id=6&bid=1" class="link">水暖用品</a>
 | <a href="products.asp?id=7&bid=1" class="link">不锈钢餐具</a>
</p></li>
<li>
<h3><a href="category.asp?bid=3" class="link">义乌五金</a></h3><p>
<a href="products.asp?id=10&bid=3" class="link">工具五金</a>
 | <a href="products.asp?id=12&bid=3" class="link">礼品五金</a>
 | <a href="products.asp?id=13&bid=3" class="link">匙扣拉链</a>
 | <a href="products.asp?id=15&bid=3" class="link">日用五金类</a>
 | <a href="products.asp?id=16&bid=3" class="link">电子电器类</a>
 | <a href="products.asp?id=161&bid=3" class="link">安全锁具类</a>
 | <a href="products.asp?id=162&bid=3" class="link">电工产品类</a>
 | <a href="products.asp?id=163&bid=3" class="link">水暖洁具类</a>
 | <a href="products.asp?id=164&bid=3" class="link">装潢装饰类</a>
 | <a href="products.asp?id=165&bid=3" class="link">车辆配件类</a>
 | <a href="products.asp?id=166&bid=3" class="link">体育旅游类</a>
 | <a href="products.asp?id=167&bid=3" class="link">厨房用品类</a>
 | <a href="products.asp?id=168&bid=3" class="link">不锈钢产品</a>
 | <a href="products.asp?id=169&bid=3" class="link">防盗门窗类</a>
 | <a href="products.asp?id=170&bid=3" class="link">保温杯类</a>
 | <a href="products.asp?id=171&bid=3" class="link">小家电</a>
</p></li>
<li>
<h3><a href="category.asp?bid=6" class="link">玻璃橡胶</a></h3><p>
<a href="products.asp?id=92&bid=6" class="link">玻璃制品</a>
 | <a href="products.asp?id=93&bid=6" class="link">橡胶制品</a>
 | <a href="products.asp?id=184&bid=6" class="link">合成制品</a>
</p></li>
<li>
<h3><a href="category.asp?bid=7" class="link">电子电器</a></h3><p>
<a href="products.asp?id=74&bid=7" class="link">电子组件</a>
 | <a href="products.asp?id=75&bid=7" class="link">照明灯具</a>
 | <a href="products.asp?id=76&bid=7" class="link">磁性材料</a>
 | <a href="products.asp?id=77&bid=7" class="link">半导体材料</a>
 | <a href="products.asp?id=78&bid=7" class="link">绝缘材料</a>
 | <a href="products.asp?id=79&bid=7" class="link">电工陶瓷材料</a>
 | <a href="products.asp?id=80&bid=7" class="link">电子化学品</a>
 | <a href="products.asp?id=81&bid=7" class="link">插头，插座</a>
 | <a href="products.asp?id=82&bid=7" class="link">UPS与电源</a>
 | <a href="products.asp?id=83&bid=7" class="link">电动机、电机</a>
 | <a href="products.asp?id=84&bid=7" class="link">光电子、激光仪器 </a>
 | <a href="products.asp?id=85&bid=7" class="link">电线电缆 </a>
 | <a href="products.asp?id=86&bid=7" class="link">配电装置、开关柜、照明箱 </a>
 | <a href="products.asp?id=87&bid=7" class="link">输电设备及材料</a>
 | <a href="products.asp?id=88&bid=7" class="link">显示设备</a>
 | <a href="products.asp?id=89&bid=7" class="link">电热设备</a>
 | <a href="products.asp?id=90&bid=7" class="link">工业自动化装置 </a>
 | <a href="products.asp?id=91&bid=7" class="link">电子材料</a>
 | <a href="products.asp?id=180&bid=7" class="link">小家电</a>
</p></li>
<li>
<h3><a href="category.asp?bid=8" class="link">日用五金</a></h3><p>
<a href="products.asp?id=64&bid=8" class="link">金属制品</a>
 | <a href="products.asp?id=65&bid=8" class="link">工艺制品</a>
 | <a href="products.asp?id=66&bid=8" class="link">保温容器</a>
 | <a href="products.asp?id=67&bid=8" class="link">钟表 </a>
 | <a href="products.asp?id=68&bid=8" class="link">家具配件及附件</a>
 | <a href="products.asp?id=69&bid=8" class="link">缝纫编织 </a>
 | <a href="products.asp?id=70&bid=8" class="link">照明、信号</a>
 | <a href="products.asp?id=71&bid=8" class="link">家居用品</a>
 | <a href="products.asp?id=72&bid=8" class="link">工艺用五金工具 </a>
 | <a href="products.asp?id=73&bid=8" class="link">打火机、烟具 </a>
</p></li>
<li>
<h3><a href="category.asp?bid=9" class="link">陶瓷五金</a></h3><p>
<a href="products.asp?id=94&bid=9" class="link">陶瓷器皿</a>
 | <a href="products.asp?id=95&bid=9" class="link">陶瓷绝缘</a>
 | <a href="products.asp?id=185&bid=9" class="link">陶瓷工艺</a>
</p></li>
<li>
<h3><a href="category.asp?bid=10" class="link">不锈钢类</a></h3><p>
<a href="products.asp?id=96&bid=10" class="link">刀叉餐具</a>
 | <a href="products.asp?id=97&bid=10" class="link">蒸锅汤锅</a>
 | <a href="products.asp?id=98&bid=10" class="link">锅铲调羹</a>
 | <a href="products.asp?id=183&bid=10" class="link">保温容器</a>
</p></li>
<li>
<h3><a href="category.asp?bid=11" class="link">体育用品</a></h3><p>
<a href="products.asp?id=99&bid=11" class="link">运动休闲</a>
 | <a href="products.asp?id=101&bid=11" class="link">滑板车类</a>
 | <a href="products.asp?id=102&bid=11" class="link">溜冰鞋类</a>
 | <a href="products.asp?id=103&bid=11" class="link">童车配件 </a>
 | <a href="products.asp?id=104&bid=11" class="link">滑雪用具 </a>
 | <a href="products.asp?id=105&bid=11" class="link">武术器材</a>
 | <a href="products.asp?id=106&bid=11" class="link">按摩器 </a>
 | <a href="products.asp?id=107&bid=11" class="link">健身器材</a>
 | <a href="products.asp?id=108&bid=11" class="link">旅行包，拉杆箱，行李箱</a>
 | <a href="products.asp?id=109&bid=11" class="link">伞、雨具、太阳伞 </a>
 | <a href="products.asp?id=110&bid=11" class="link">娱乐用品 </a>
 | <a href="products.asp?id=111&bid=11" class="link">乐器 </a>
 | <a href="products.asp?id=112&bid=11" class="link">渔具</a>
 | <a href="products.asp?id=113&bid=11" class="link">游艺设施 </a>
 | <a href="products.asp?id=114&bid=11" class="link">野营、登山用品 </a>
 | <a href="products.asp?id=115&bid=11" class="link">水族器材 </a>
 | <a href="products.asp?id=116&bid=11" class="link">玩具 </a>
</p></li>
<li>
<h3><a href="category.asp?bid=12" class="link">钥匙拉链</a></h3><p>
<a href="products.asp?id=117&bid=12" class="link">锁扣饰品</a>
 | <a href="products.asp?id=118&bid=12" class="link">拉链配件</a>
 | <a href="products.asp?id=173&bid=12" class="link">纽扣系列</a>
</p></li>
<li>
<h3><a href="category.asp?bid=13" class="link">机械机床</a></h3><p>
<a href="products.asp?id=120&bid=13" class="link">机床设备</a>
 | <a href="products.asp?id=121&bid=13" class="link">空气水泵</a>
 | <a href="products.asp?id=122&bid=13" class="link">空压机类</a>
 | <a href="products.asp?id=123&bid=13" class="link">液压机械及部件 </a>
 | <a href="products.asp?id=124&bid=13" class="link">内燃机 </a>
 | <a href="products.asp?id=125&bid=13" class="link">五金设备</a>
 | <a href="products.asp?id=126&bid=13" class="link">雕刻打标设备 </a>
 | <a href="products.asp?id=127&bid=13" class="link">动力机械 </a>
 | <a href="products.asp?id=128&bid=13" class="link">仪器、仪表</a>
 | <a href="products.asp?id=129&bid=13" class="link">行业专用机械及设备 </a>
 | <a href="products.asp?id=130&bid=13" class="link">渔业设备及用具</a>
 | <a href="products.asp?id=131&bid=13" class="link">粮油加工机械 </a>
 | <a href="products.asp?id=132&bid=13" class="link">饲料加工机械 </a>
 | <a href="products.asp?id=133&bid=13" class="link">屠宰及肉类初加工设备</a>
 | <a href="products.asp?id=134&bid=13" class="link">食品饮料加工设备</a>
 | <a href="products.asp?id=135&bid=13" class="link">皮革加工设备</a>
 | <a href="products.asp?id=136&bid=13" class="link">纺织设备和器材</a>
 | <a href="products.asp?id=137&bid=13" class="link">制鞋及鞋修理设备</a>
 | <a href="products.asp?id=138&bid=13" class="link">矿业设备</a>
 | <a href="products.asp?id=139&bid=13" class="link">冶金设备 </a>
 | <a href="products.asp?id=140&bid=13" class="link">金属线、管、板制造设备</a>
 | <a href="products.asp?id=141&bid=13" class="link">石油加工设备</a>
 | <a href="products.asp?id=142&bid=13" class="link">印刷机械</a>
 | <a href="products.asp?id=143&bid=13" class="link">包装容器加工机械</a>
 | <a href="products.asp?id=144&bid=13" class="link">工程与建筑机械</a>
 | <a href="products.asp?id=145&bid=13" class="link">排版，制版设备</a>
 | <a href="products.asp?id=146&bid=13" class="link">造纸设备及配件</a>
 | <a href="products.asp?id=147&bid=13" class="link">纸品加工机械</a>
</p></li>
<li>
<h3><a href="category.asp?bid=14" class="link">模具磨料</a></h3><p>
<a href="products.asp?id=148&bid=14" class="link">钢板模料</a>
 | <a href="products.asp?id=149&bid=14" class="link">模具系列</a>
 | <a href="products.asp?id=186&bid=14" class="link">技术加工</a>
</p></li>
<li>
<h3><a href="category.asp?bid=15" class="link">材料配件</a></h3><p>
<a href="products.asp?id=150&bid=15" class="link">高新材料</a>
 | <a href="products.asp?id=151&bid=15" class="link">钢铁铝材</a>
 | <a href="products.asp?id=152&bid=15" class="link">稀土制品</a>
 | <a href="products.asp?id=153&bid=15" class="link">黑色金属</a>
 | <a href="products.asp?id=154&bid=15" class="link">粉末冶金 </a>
 | <a href="products.asp?id=155&bid=15" class="link">磁性材料</a>
 | <a href="products.asp?id=156&bid=15" class="link">合金材料</a>
 | <a href="products.asp?id=157&bid=15" class="link">废金属</a>
 | <a href="products.asp?id=158&bid=15" class="link">石墨及碳素产品</a>
 | <a href="products.asp?id=159&bid=15" class="link">砧板</a>
 | <a href="products.asp?id=160&bid=15" class="link">炉料、熔剂</a>
</p></li>
<li>
<h3><a href="category.asp?bid=17" class="link">有色金属</a></h3><p>
<a href="products.asp?id=181&bid=17" class="link">金银铜铁</a>
 | <a href="products.asp?id=182&bid=17" class="link">锌铝合金</a>
 | <a href="products.asp?id=187&bid=17" class="link">金属制品</a>
</p></li>
<li>
<h3><a href="category.asp?bid=18" class="link">建材装璜</a></h3><p>
<a href="products.asp?id=35&bid=18" class="link">建筑装饰</a>
 | <a href="products.asp?id=36&bid=18" class="link">卫浴设施</a>
 | <a href="products.asp?id=37&bid=18" class="link">厨房设备</a>
 | <a href="products.asp?id=38&bid=18" class="link">金属建材</a>
 | <a href="products.asp?id=39&bid=18" class="link">建筑金属构件</a>
 | <a href="products.asp?id=40&bid=18" class="link">防水、防潮材料</a>
 | <a href="products.asp?id=41&bid=18" class="link">耐火、防火材料 </a>
 | <a href="products.asp?id=42&bid=18" class="link">隔热、吸声材料</a>
 | <a href="products.asp?id=43&bid=18" class="link">绝缘材料</a>
 | <a href="products.asp?id=44&bid=18" class="link">金属门窗 </a>
 | <a href="products.asp?id=45&bid=18" class="link">管件管材 </a>
 | <a href="products.asp?id=46&bid=18" class="link">钉、网 </a>
 | <a href="products.asp?id=47&bid=18" class="link">胶粘剂 </a>
 | <a href="products.asp?id=48&bid=18" class="link">作业保护 </a>
 | <a href="products.asp?id=188&bid=18" class="link">地板瓷砖</a>
</p></li>
<li>
<h3><a href="category.asp?bid=19" class="link">农艺五金</a></h3><p>
<a href="products.asp?id=18&bid=19" class="link">园林工具</a>
 | <a href="products.asp?id=19&bid=19" class="link">农用机械</a>
 | <a href="products.asp?id=20&bid=19" class="link">林业机械</a>
 | <a href="products.asp?id=32&bid=19" class="link">渔业机械 </a>
 | <a href="products.asp?id=33&bid=19" class="link">灌溉机械</a>
 | <a href="products.asp?id=34&bid=19" class="link">收获机械</a>
</p></li>
<li>
<h3><a href="category.asp?bid=20" class="link">汽摩用品</a></h3><p>
<a href="products.asp?id=49&bid=20" class="link">汽车配件</a>
 | <a href="products.asp?id=50&bid=20" class="link">修理设备</a>
 | <a href="products.asp?id=51&bid=20" class="link">交通工具</a>
 | <a href="products.asp?id=52&bid=20" class="link">轮胎</a>
 | <a href="products.asp?id=53&bid=20" class="link">传动系统</a>
 | <a href="products.asp?id=54&bid=20" class="link">转向、制动系统</a>
 | <a href="products.asp?id=55&bid=20" class="link">照明、信号、车用电器</a>
 | <a href="products.asp?id=56&bid=20" class="link">车用仪表</a>
 | <a href="products.asp?id=57&bid=20" class="link">发动机及零部件</a>
 | <a href="products.asp?id=58&bid=20" class="link">汽车保养、美容</a>
 | <a href="products.asp?id=59&bid=20" class="link">汽摩产品制造设备</a>
 | <a href="products.asp?id=60&bid=20" class="link">汽车小电器</a>
 | <a href="products.asp?id=61&bid=20" class="link">冷却系统</a>
 | <a href="products.asp?id=62&bid=20" class="link">减震系统</a>
 | <a href="products.asp?id=63&bid=20" class="link">维修设备</a>
 | <a href="products.asp?id=172&bid=20" class="link">自行车，三轮车配件</a>
</p></li>
<li>
<h3><a href="category.asp?bid=16" class="link">其它</a></h3><p>
<a href="products.asp?id=174&bid=16" class="link">商务礼品</a>
 | <a href="products.asp?id=175&bid=16" class="link">广告礼品</a>
 | <a href="products.asp?id=176&bid=16" class="link">节日礼品</a>
 | <a href="products.asp?id=177&bid=16" class="link">生日礼品</a>
 | <a href="products.asp?id=178&bid=16" class="link">工艺礼品</a>
 | <a href="products.asp?id=179&bid=16" class="link">情侣礼品</a>
</p></li>